@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.red {
    color: rgb(189, 16, 16);
}

.green {
    color: rgb(97, 179, 97);
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
}

#game {
    margin: 0px auto;
    border: 2px solid black;
    padding: 20px 20px;
    margin-top: 20px;
    width: 50%;
}

h1 {
    font-weight: bold;
    font-size: 28px;
    padding-bottom: 20px;
}

#playingto {
    padding-bottom: 20px;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
}

#buttons button {
    width: 50%;
}

#player-one-button {
    background-color: rgb(77, 77, 255);
    border: none;
    color: white;
    padding: 10px 10px;
    transition: ease-in-out 100ms;
}

#player-one-button:hover {
    background-color: rgb(74, 74, 219);
}

#player-one-button:active {
    background-color: rgb(55, 55, 192);
}

#player-two-button {
    background-color: rgb(226, 40, 40);
    border: none;
    color: white;
    padding: 10px 10px;
    transition: ease-in-out 100ms;
}

#player-two-button:hover {
    background-color: rgb(207, 31, 31);
}

#player-two-button:active {
    background-color: rgb(180, 36, 36);
}

#reset {
    border: none;
    background-color: rgb(226, 226, 226);
    color: black;
    transition: ease-in-out 100ms;
}

#reset:hover {
    background-color: rgb(185, 185, 185);
}